.header ion-col {
    background-color: #032f4f;
    border: solid 1px #fff;
    color: #fff;
    text-align: center;
}

.tsotra {
    background-color: #ddd;
    border: solid 1px #fff;
    color: #fff;
    text-align: center;
}

.tsotra button {
    background-color: #ddd;
    border: solid 1px #fff;
    color: #fff;
    text-align: center;
}